section.description 
  p.description__greeting Hola!! 
  h1.description__name Soy Dayan Melisa Izaquita Solano
  p.description__paragraph Soy técnica profesional en desarrollo de software, encaminada por la parte de front end creando interfaces gráficas usando varios lenguajes de programación; apasionada por lo que hago y con ganas de cada día aprender algo nuevo  sobre este mundo de la programación. 