section.description 
  p.description__greeting ¡Hola! 
  h1.description__name Soy Dayan Melisa Izaquita Solano
  p.description__paragraph Soy técnico profesional en desarrollo de software, con experiencia en desarrollo front-end, enfocado en interfaces y experiencia de usuario; usando varios lenguajes de programación. apasionada por lo que hago y con ganas de cada día aprender algo nuevo sobre este mundo de la programación. 