section.description 
  p.description__greeting Hola
  h1.description__name Soy Dayan Melisa Izaquita Solano
  p.description__paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, optio, nesciunt voluptatem enim velit corporis aspernatur id iusto molestiae soluta ab eos incidunt at nobis ipsam sit totam provident dicta?