section.description 
  p.description__greeting ¡Hola! 
  h1.description__name Soy Dayan Melisa Izaquita Solano
  p.description__paragraph esarrolladora de software Front-end y experiencia como analista QA. Enfocada en cubrir funcionalidades de forma integral, considerando las interfaces graficas experiencias de usuario como pilares. En búsqueda de expandir los conocimientos técnicos, y fortaleces las habilidades blandas.