section.description 
  p.description__greeting ¡Hola! 
  h1.description__name Soy Dayan Melisa Izaquita Solano
  p.description__paragraph Desarrolladora de software con experiencia en  automatizaciones internas. Me especializo en abordar de manera integral las funcionalidades, priorizando la construcción de soluciones eficientes y orientadas a la experiencia del usuario. Cuento con conocimientos en desarrollo, bases de datos y creación de interfaces, además de experiencia en la automatización de procesos, lo que me ha permitido optimizar validaciones y asegurar la calidad del software. 