section.experience
   h2.experience__title Experiencia
   ul.experience__list 
      li 
         p.experience__sutitle Desarrollador front-end
         p.experience__subtitle Maloka
         p.experience__subtitle Agosto 2021
         p.experience__text Enfocada en la restructuración de la página web para varios navegadores y dispositivos.

