section.experience
   h2.experience__title Experiencia
   ul.experience__list 
      li 
         p.experience__sutitle Developer Jr
         p.experience__subtitle Topaz
         p.experience__subtitle Abril 2024 - Actualmente
         p.experience__text - Desarrolló soluciones de software bancario utilizando herramientas de desarrollo como HTML5, CSS, JavaScript, Java y bases de datos.
         p.experience__text - Automatización de procesos internos mediante el uso de TestComplete y Python, optimizando tiempos de validación y aseguramiento de calidad.
      li 
         p.experience__sutitle Jr Infrastructure y support analyst 
         p.experience__subtitle Cobis 
         p.experience__subtitle abril 2022 - 2024 
         p.experience__text - Revisión de documentación para el cumplimiento de los estándares requeridos, como: scripts, SQL, HTML, CSS entre otros.
         p.experience__text - Definición y ejecución de pruebas automatizadas y funcionales.
         p.experience__text - Despliegues en ambientes controlados para pruebas.
      li 
         p.experience__sutitle Desarrollador front-end
         p.experience__subtitle ProBio Ingeniería 
         p.experience__subtitle Febrero 2021 - Abril 2022
         p.experience__text - Enfocada en maquetación de interfaces gráficas.
         p.experience__text - Trabajo con metodologías ágiles dentro de un equipo interdisciplinario para productos web.
         p.experience__text - Desarrollo de interfaces web utilizando Angular para mejorar la experiencia de usuario y la eficiencia de las aplicaciones..

         
      

   
