section.experience
   h2.experience__title Experiencia
   ul.experience__list 
      li 
         p.experience__sutitle Desarrollador front-end
         p.experience__subtitle Maloka
         p.experience__subtitle Agosto 2021
         p.experience__text Enfocada en la restructuración de la página web para varios navegadores y dispositivos.
      li 
         p.experience__sutitle Desarrollador front-end
         p.experience__subtitle ProBio Ingeniería 
         p.experience__subtitle octubre - 2021 
         p.experience__text Enfocada en maquetación de interfaces gráficas, trabajo con metodologías ágiles dentro de un equipo interdisciplinario para productos web.
      li 
         p.experience__sutitle Tecnico 1
         p.experience__subtitle Cobis 
         p.experience__subtitle abril 2022 - actual 
         p.experience__text Enfocada en la revisión de documentación, fuentes como script, sp, sql, html, css entre otros para puestas a producción

   
