footer.footer 
  .footer__redes 
    a.footer__link(href="https://www.linkedin.com/feed/") 
      img.footer__img(src="./images/linkedin.svg", alt="", sizes="", srcset="")
    a.footer__link(href="https://wa.me/3123658007") 
      img.footer__img(src="./images/whatsapp.svg", alt="", sizes="", srcset="")
    a.footer__link(href="https://github.com/Melisaizaquita") 
      img.footer__img(src="./images/github.svg", alt="", sizes="", srcset="")
      
    
  
