footer.footer 
  .redes 
    a(href="https://www.youtube.com/watch?v=6g_-Q09iiks&ab_channel=ProfeJavier") 
      img(src="./images/linkedin.svg", alt="", sizes="", srcset="")
    a(href="https://wa.me/3123658007") 
      img(src="./images/whatsapp.svg", alt="", sizes="", srcset="")
    
  
