.oso 
  .oso__cabeza 
    .oso__ojo-derecho
      .oso__iris-derecho
    .oso__ojo-izquierda
      .oso__iris-izquierda
    .oso__nariz
    .oso__mejilla-derecha
    .oso__mejilla-izquierda 
    .oso__boca 
    .oso__boca-derecho
    .oso__boca-izquierda 
    