.oso 
  .oso__oreja-derecha
    .oso__adentro-derecha
  .oso__oreja-izquierda
    .oso__adentro-izquierda
  .oso__cabeza 
    .oso__ojo-derecho
      .oso__iris-derecho
    .oso__ojo-izquierda
      .oso__iris-izquierda
    .oso__nariz
    .oso__mejilla-derecha
    .oso__mejilla-izquierda 
    .oso__boca 
    .oso__boca-derecha
    .oso__boca-izquierda 
    