.projects 
  h2.projects__title Proyectos 
  .projects__slider
    ul.projects__content
      li.projects__contents
        img(src="./images/maloka.jpg", alt="")
        p 
      li.projects__contents
        img(src="", alt="")
        p 