.projects 
  h2.projects__title Proyectos 
  .slider
    ul.slider__list
      li.slider__component 
        .slider__text
          a(href="") Maloka 
        .slider__image
          img(src="./images/maloka.jpg", alt="") 
      li.slider__component 
        .slider__text
          a(href="") Escuela Robotica Del Choco
        .slider__image
          img(src="./images/escuela_robotica.jpg", alt="") 