section.skills
  h2.skills__title Habilidades
  .skills__list 
    .skills__skill
      .skills__img 
        img(src="./images/html.png", alt="")
      .skills__content
        p.skills__paragraph HTML semantica
        p.skills__paragraph Template engines: pug, Handlebars
    .skills__skill 
      .skills__img
        img(src="./images/css.png", alt="")
      .skills__content 
        p.skills__paragraph Sass, mixin, functions
        p.skills__paragraph BEM 
        p.skills__paragraph Felxbox
    .skills__skill
      .skills__img
        img(src="./images/js.png", alt="")
      .skills__content
        p.skills__paragraph Eventos
        p.skills__paragraph Mucho por aprender
    .skills__skill
      .skills__img
        img(src="./images/github_skill.svg", alt="")
      .skills__content
        p.skills__paragraph Versionamiento git
        p.skills__paragraph Git flow
    