doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/styles.css")
    title Melisa Izaquita web developer
  body 
    include _header.pug
    include _description.pug
    include _skills.pug
    include _projects.pug