.description{
  margin: 0 size(4);
  margin-bottom: size(2.50);
  &__greeting{
    font-size: size(3.75);
    margin-bottom: 10px;
    font-family: 'Itim', cursive;
    color: $color-title;
  }
  &__name{
    max-width: 90%;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    color: $color-title;
  }
  &__paragraph{
    font-size: size(2.50);
    font-family: 'Itim', cursive;
    text-align: justify;
    color: $color-text;
  }
  @media($mediamin){
    margin: 0 size(7.50) size(8.75);
    &__greeting{
      font-size: size(5);
      margin-bottom: 20px;
    }
    &__name{
      font-size: size(6.25);
      margin-bottom: size(3.75);
    }
    &__paragraph{
      font-size: size(3.75);
      
    }
  }
  @media($medialarge){
    margin: 0 auto;
    max-width: 900px;
    &__greeting{
      font-size: size(6.25);
      margin-bottom: 20px;
    }
    &__name{
      font-size: size(7.50);
      margin-bottom: size(3.75);
      width: 600px;
    }
    &__paragraph{
      font-size: size(5);
      margin-bottom: size(6);      
    }
  }
}