.header{
  margin: size(2) size(4) size(2.50);
  display: flex;
  justify-content: space-between;
  &__download{
   margin-top: auto;
   margin-bottom: auto;
  }
  &__downloads{
    font-family: 'Itim', cursive;
    text-decoration: none;
    font-size: size(2.50);
    color: $color-title;
    background-color: $white;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px 0px;
    &:hover{
      background-color: $color-title;
      color: $white;
    }
  }
  @media($mediamin){
    margin-top: size(5);
    &__downloads{
      font-size: size(3.75);
    }
  }
  @media($medialarge){
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 60px;
    margin-top: size(5);
    &__downloads{
      font-size: size(3.75);
    }
  }
}