.header{
  margin: 0 size(2.50);
  display: flex;
  justify-content: space-between;
  max-width: 0 size(2.50);
  margin-bottom: size(2.50);
  &__download{
   margin-top: auto;
   margin-bottom: auto;
  }
  &__downloads{
    font-family: 'Itim', cursive;
    text-decoration: none;
    font-size: size(2.50);
    color: #c0c4cd;
    background-color: $white;
    padding: 8px;
    border-radius: 50px;
  }
}