.oso{
  width: 80px;
  height: 80px;

  &__cabeza{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
  }
  &__ojo{
    width: size(2.50);
    height: size(2.50);
    background-color: black;
  }
}