.projects{
    margin-bottom: size(2.25);
  &__title{
    font-family: 'Nunito', sans-serif;
    font-size: size(3.75);
    margin: 0 size(4) size(2.50) ;
  }
  @media($mediamin){
    &__title{
      font-size: size(5);
      margin: 0 size(7.50) size(5);
    }
  }
  @media($medialarge){
    &__title{
      font-size: size(6.25);
    }
  }
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  font-family: 'Itim', cursive;
  &__list {
      padding: 0;
      margin: 0;
      display: flex;
      width: 400%;
      animation: cambio 10s infinite;
      animation-timing-function: step-start;
  }
  &__component {
      width: 100%;
      list-style: none;
      display: flex;
      position: relative;
  }
  &__text {
      z-index: 1;
      position: absolute;
      bottom: 10px;
      width: 240px;
      a {
          text-decoration: none;
          margin-left: 10px;
          font-size: 30px;
          cursor: pointer;
          color: $color-text;
      }
  }
  &__image {
      width: 100%;
      img {
          width: 50%;
          opacity: .5;
      }
  }
  @keyframes cambio {
      0% {
          margin-left: 0%
      }
      45% {
          margin-left: 0%
      }
      50% {
          margin-left: -200%
      }
      100% {
          margin-left: -200%
      }
  }
  @media($mediamin){
    &__text {
      a {
        font-size: size(7.50);
      }
    }
  }
  @media($medialarge){
    &__text {
      a {
        font-size: size(8.75);
      }
    }
  }
}