.skills{
  margin: 0 size(2.50);
  color: #505b67;
  &__title{
    font-size: 30px;
    margin-bottom: size(2.50);
    font-family: 'Nunito', sans-serif;
  }
  &__list{
  }
  &__skill{
    display: flex;
    padding-bottom: size(2.50);
  }
  &__img{
    padding-right: 15px;
    img{
      width: 80px;
      height: 80px;
    }
  }
  &__paragraph{
    font-size: size(2.50);
    font-family: 'Itim', cursive;
  }
  
}