.skills{
  margin: 0 size(4);
  &__title{
    font-size: size(3.75);
    margin-bottom: size(2.50);
    font-family: 'Nunito', sans-serif;
  }
  &__list{
  }
  &__skill{
    display: flex;
    padding-bottom: size(2.50);
  }
  &__img{
    padding-right: 15px;
    img{
      width: size(10);
      height: size(10);
    }
  }
  &__paragraph{
    font-size: size(2.50);
    font-family: 'Itim', cursive;
  }
  @media($mediamin){
    margin: 0 size(7.50) size(5);
    &__title{
      font-size: size(5);
      margin-bottom: size(6.25);
      
    }
    &__paragraph{
      font-size: size(3.75);
      
    }
    &__img{
      padding-right: size(5);
      img{
        width: size(18);
        height: size(18);
      }
    }
    &__content{
      width: 300px;
    }
  }
  @media($medialarge){
    margin: 0 auto;
    max-width: 900px;
    &__title{
      font-size: size(6.25);
      margin-bottom: size(6.25);
      
    }
    &__skill{
      padding-bottom: size(5);
    }
    &__paragraph{
      font-size: size(5);
      
    }
    &__img{
      padding-right: size(3);
      img{
        width: size(25);
        height: size(25);
      }
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__skill{
      width: 450px;
    }
    
  }
}