$white:#ffffff;
$gris: #a7adbb;
$background-color: #faeaf99e;
$curri:#a7adbb;
$background-footer:#ca84a9;
$color-title:#c27ba0;
$color-text:#635e5e;
$mediamin: "min-width:768px";
$medialarge: "min-width:1024px";
$text-experience:#d5a6bd;




