$white:#ffffff;
$gris: #a7adbb;
$background-color:#c0c4cd;
$curri:#a7adbb;
$background-footer:#65737e;
$color-text:#3077ec;
$color:#363c46;
$mediamin: "min-width:768px";
$medialarge: "min-width:1024px";




