@import 'mixin';
@import 'variables';
@import 'header';
@import 'logo';
@import 'description';
@import 'skills';
@import 'projects';
@import 'footer';
@import 'experience';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
  background-color: $background-color;
	color: $color-text;
}
.component{
	max-width: 1024px;
	margin: 0 auto;
}