.header {
  margin: 0 32px 20px;
  display: flex;
  justify-content: space-between; }
  .header__download {
    margin-top: auto;
    margin-bottom: auto; }
  .header__downloads {
    font-family: 'Itim', cursive;
    text-decoration: none;
    font-size: 20px;
    color: #c0c4cd;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 50px; }
  @media (min-width: 768px) {
    .header {
      margin: 20px 60px 40px; }
      .header__downloads {
        font-size: 30px; } }
  @media (min-width: 1024px) {
    .header {
      margin: 56px 60px 48px; }
      .header__downloads {
        font-size: 30px; } }

.oso {
  width: 80px;
  height: 80px; }
  .oso__cabeza {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px; }
  .oso__ojo-derecho {
    width: 20px;
    height: 20px; }

.description {
  margin: 0 32px;
  margin-bottom: 20px; }
  .description__greeting {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Itim', cursive; }
  .description__name {
    max-width: 90%;
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif; }
  .description__paragraph {
    font-size: 20px;
    font-family: 'Itim', cursive; }
  @media (min-width: 768px) {
    .description {
      margin: 0 60px 70px; }
      .description__greeting {
        font-size: 40px;
        margin-bottom: 20px; }
      .description__name {
        font-size: 50px;
        margin-bottom: 30px; }
      .description__paragraph {
        font-size: 30px; } }
  @media (min-width: 1024px) {
    .description {
      margin: 56px 60px 48px; }
      .description__greeting {
        font-size: 50px;
        margin-bottom: 20px; }
      .description__name {
        font-size: 60px;
        margin-bottom: 30px; }
      .description__paragraph {
        font-size: 40px;
        font-size: 40px; } }

.skills {
  margin: 0 32px; }
  .skills__title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif; }
  .skills__skill {
    display: flex;
    padding-bottom: 20px; }
  .skills__img {
    padding-right: 15px; }
    .skills__img img {
      width: 80px;
      height: 80px; }
  .skills__paragraph {
    font-size: 20px;
    font-family: 'Itim', cursive; }
  @media (min-width: 768px) {
    .skills {
      margin: 0 60px 40px; }
      .skills__title {
        font-size: 40px;
        margin-bottom: 50px; }
      .skills__paragraph {
        font-size: 30px; }
      .skills__img {
        padding-right: 40px; }
        .skills__img img {
          width: 144px;
          height: 144px; } }
  @media (min-width: 1024px) {
    .skills__title {
      font-size: 50px;
      margin-bottom: 50px; }
    .skills__skill {
      padding-bottom: 40px; }
    .skills__paragraph {
      font-size: 40px; }
    .skills__img {
      padding-right: 40px; }
      .skills__img img {
        width: 200px;
        height: 200px; } }

.projects {
  margin-bottom: 18px; }
  .projects__title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin: 0 32px 20px; }
  @media (min-width: 768px) {
    .projects__title {
      font-size: 40px;
      margin: 0 60px 40px; } }
  @media (min-width: 1024px) {
    .projects__title {
      font-size: 50px; } }

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  font-family: 'Itim', cursive; }
  .slider__list {
    padding: 0;
    margin: 0;
    display: flex;
    width: 400%;
    animation: cambio 10s infinite;
    animation-timing-function: step-start; }
  .slider__component {
    width: 100%;
    list-style: none;
    display: flex;
    position: relative; }
  .slider__text {
    z-index: 1;
    position: absolute;
    bottom: 10px; }
    .slider__text a {
      text-decoration: none;
      margin-left: 10px;
      font-size: 50px;
      cursor: pointer;
      color: #505b67; }
  .slider__image {
    width: 100%; }
    .slider__image img {
      width: 50%;
      opacity: .5; }

@keyframes cambio {
  0% {
    margin-left: 0%; }
  45% {
    margin-left: 0%; }
  50% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }
  @media (min-width: 768px) {
    .slider__text a {
      font-size: 60px; } }
  @media (min-width: 1024px) {
    .slider__text a {
      font-size: 70px; } }

.footer {
  background-color: #65737e; }
  .footer__redes {
    display: flex;
    justify-content: flex-end; }
  .footer__link {
    margin: 5px; }
  .footer__img {
    width: 30px; }
  @media (min-width: 768px) {
    .footer__img {
      width: 40px; }
    .footer__link {
      margin: 10px; } }
  @media (min-width: 768px) {
    .footer__img {
      width: 50px; }
    .footer__link {
      margin: 10px; } }

.experience {
  margin: 0 32px 32px 32px; }
  .experience__title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px; }
  .experience__sutitle {
    font-size: 20px;
    margin-bottom: 10px; }
  .experience__list {
    font-size: 20px;
    font-family: 'Itim', cursive;
    list-style: none; }
  @media (min-width: 768px) {
    .experience {
      margin: 0 60px 40px; }
      .experience__title {
        font-size: 40px;
        margin-bottom: 20px; }
      .experience__sutitle {
        font-size: 30px; }
      .experience__list {
        font-size: 30px; } }
  @media (min-width: 1024px) {
    .experience {
      margin: 0 60px 40px; }
      .experience__title {
        font-size: 50px; }
      .experience__sutitle {
        font-size: 40px; }
      .experience__list {
        font-size: 40px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c0c4cd;
  color: #505b67; }

.component {
  max-width: 1024px;
  margin: 0 auto; }
